#contenedor{
    background-color: white;
    border:1px solid black;
	height: 500px;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    text-align:center;
    

}
#caja1{
    border: 1px solid black;
	background-color: red;
    height: 33.3%;
    width: 33.3%;
    text-align:center;
}

#caja2{
	border:1px solid black;
	background-color: blue;
    height: 33.3%;
    width: 33.3%;
}

#caja3{
	border:1px solid black;
	background-color: green;
    height: 33.3%;
    width: 33.3%;
}