h1{
    color: red; /*Con barra y asterisco se hacen los comentarios en css*/
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;

}
h2{
    color: green;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: blue;
    font-size: 30px;
}
p{
    color: gray;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
.caja{
    background: rgb(149,14,2);
    background: linear-gradient(211deg, rgba(149,14,2,1) 0%, rgba(215,196,15,1) 35%, rgba(255,158,0,1) 100%);
    box-shadow: 10px 10px 5px black;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 50px;
    border: 5px solid black;
    text-align: center;
}
.Destacados{
    font-size: 25px;
    color: lightblue;

}